 .navbar {
   position: fixed;
   background-color: transparent;
   background-color: #30A6CA;
     z-index: 10;
 }

 .navbar-inverse {
     background-color: #30A6CA;
     color: black;
     -webkit-box-shadow: 10px 10px 58px -17px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: 10px 10px 58px -17px rgba(0, 0, 0, 0.75);
     box-shadow: 10px 10px 58px -17px rgba(0, 0, 0, 0.75);
 }

 a {
     text-decoration: none;
     color: white;
 }

 a:hover,
 a:active {
     color: lightgray;
 }

 .nav-caption {
     display: inline-block;
     padding-left: 6px;
 }
