<mat-toolbar class="navbar toolbar" (scroll)="onWindowScroll($event)">
  <div>
    <img style="" src="assets/img/logo.png" />
  </div>
  <div class="d-flex justify-content-lg-around">
    <ul class="navigation-items d-flex m-0 w-100" style="list-style: none;">
      <li class="px-4">
        <a routerLink="/owner">Ayuda</a>
      </li>
      <li *ngIf="!userlogin" class="px-4">
        <a (click)="openDialogLogin()" routerLink="/account">Iniciar Seción</a>
      </li>
      <li *ngIf="!userlogin" class="px-4">
        <a (click)="openDialogRegister()" routerLink="/account">Registrarse</a>
      </li>
      <li *ngIf="userlogin" class="px-4">
        <a (click)="openDialogRegisterProperty()" routerLink="/account"
          >Agregar Propiedad</a
        >
      </li>
    </ul>
    <div *ngIf="userlogin" class="d-flex justify-content-lg-end" style="position:absolute;right:15px; top:15px">
      <div>hola {{ userlogin.user }}</div>
      <span class="pt-1 material-icons">
        account_box
      </span>
      <a class="pl-2" style="font-size: 10px;" (click)="closeSesion()"
        >Cerrar Session</a
      >
    </div>
  </div>
</mat-toolbar>
