<div class="m-0 p-0">
    <div class="hero" style="background-color:red;">
        <div class="hero-layout">
        </div>
        <div class="hero-text">Busca un lugar como si fuera un
            <div style="color:#30A6CA;;">Hogar</div>
        </div>
        <div class="buttons-wrapper">
            <div class="button-1">
                <img class="button-image" img src="assets/img/aplicacion.png">
                <div>AppStore</div>
            </div>
            <div class="button-2">
                <img class="button-image" img src="assets/img/google_play.png">
                <div>GooglePlay</div>
            </div>
        </div>
    </div>
    <!-- <div class="countries-wrapper container pt-4 d-flex justify-content-center" style="padding-left:8%;padding-right: 8%;">
        <mat-card class="w-75">
            <mat-card-header>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle value="bold">Habitación</mat-button-toggle>
                    <mat-button-toggle value="italic">Departamento</mat-button-toggle>
                    <mat-button-toggle value="underline">Roommate</mat-button-toggle>
                </mat-button-toggle-group>
            </mat-card-header>
            <mat-card-content class="p-2">
                <mat-form-field class="example-full-width w-75">
                    <mat-label>Ubicación</mat-label>
                    <textarea matInput placeholder="Agrege ubicación de referencia"></textarea>
                </mat-form-field>
                <button  [routerLink]="'/properties'" class="ml-4" mat-raised-button color="primary">Buscar</button>
            </mat-card-content>
        </mat-card>
    </div> -->
    <div class="countries-wrapper container " style="padding:5%; ">
        <mat-grid-list [cols]="breakpoint " rowHeight="3:2 " (window:resize)="onResize($event) ">
            <mat-grid-tile [routerLink]="'/properties'" *ngFor="let item of countries" class="country-wrapper ">
                <div class="country">
                    <img class="country-image" [src]="item.image" />
                    <div class="country-name pt-2">{{item.name}}</div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div class="section-1 container " style="padding:5%; ">
        <mat-grid-list cols="2 " rowHeight="2:2 " (window:resize)="onResize($event) ">
            <mat-grid-tile class="section-1-wrapper ">
                <mat-card class="py-4 mx-4">
                    <mat-card-header>
                        <div class="d-flex justify-content-center flex-column">
                            <div class="section-1-name ">¿Listo Para Comenzár tu viaje?</div>
                            <p>Independientemente del tipo de alojmiento o hbitación que quieras compartir,hospedar a estudiantes es sencillo y seguro con StudentHome.Controlas por completo la disponibilidad, los precios, las reglas de la casa y la relación
                                con los huespedes.
                            </p>
                        </div>
                    </mat-card-header>
                    <mat-card-content class="d-flex justify-content-center" style="padding-top:50px;border-radius:25px">
                        <button [routerLink]="'/properties'" mat-raised-button class="btn" color="primary">Empezar</button>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile class="country-wrapper ">
                <img class="country-image" src="assets/img/section1.jpg" />
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div class="section-2 d-flex flex-column flex-md-row py-4" style="">
        <div class="h-50 w-100">
            <div class="d-flex flex-column justify-content-start px-4" style="color:white ">
                <p style="font-size:25px"><strong>¿Por qué convertise en anfitrio de StudentHome?</strong></p>
                <p>Independientemente del tipo de alojmiento o hbitación que quieras compartir,hospedar a estudiantes es sencillo y seguro con StudentHome.Controlas por completo la disponibilidad, los precios, las reglas de la casa y la relación con los
                    huespedes.
                </p>
            </div>
        </div>
        <div class="h-50 w-100">
            <div class="d-flex flex-column justify-content-start px-4" style="color:white ">
                <p style="font-size:25px"><strong>¿Por qué suscribirte?</strong></p>
                <p>Podrás acceder a los beneficios de anfitriones.Tus publicaciones se mostrarán primero y podrás manejar más de un inmueble.
                </p>
            </div>
        </div>
    </div>
    <div class="section-3 d-flex flex-column flex-md-row" style="padding:5%;align-items:center">
        <div class="h-50 w-100">
            <div class="d-flex flex-column justify-content-start px-4" style="color:black ">
                <img class="country-image" src="assets/img/planes.png" />
            </div>
        </div>
        <div class="h-50 w-100">
            <div class="d-flex flex-column justify-content-start px-4" style="color:black ">
                <p style="font-size:25px"><strong>¿Conoce Nuestros Planes?</strong></p>
                <img class="country-image" src="assets/img/plans.png" />
            </div>
        </div>
    </div>

</div>
