            .hero {
                font-family: 'Lato', sans-serif;
                line-height: 60px;
                position: relative;
                min-height: 100vh;
                min-width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                background-color: red;
                background-image: url("../../../../../assets/img/section2.jpg");
                background-size: cover;
                .hero-layout {
                    position: absolute;
                    left: 0;
                    background-color: black;
                    opacity: 0.3;
                    min-height: 100%;
                    min-width: 100%;
                }
                .hero-text {
                    font-family: Lato;
                    text-align: center;
                    ;
                    color: white;
                    font-size: 50px;
                    max-width: 700px;
                    z-index: 5;
                }
                .buttons-wrapper {
                    display: flex;
                    padding-top: 25px;
                    .button-1,
                    .button-2 {
                        cursor: pointer;
                        margin-left: 15px;
                        margin-right: 15px;
                        min-height: 60px;
                        min-width: 160px;
                        background-color: rgba(255, 255, 255, 0.5);
                        border-radius: 15px;
                        text-align: center;
                        z-index: 6;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.9);
                        }
                        .button-image {
                            height: 30px;
                            width: 30px;
                            margin-right: 5px;
                        }
                    }
                    .button-1 {}
                    .button-2 {}
                }
            }

            .countries-wrapper {
                min-width: 100%;
                font-family: 'Lato', sans-serif;
                .country {
                    position: relative;
                    background-color: red;
                    height: 95%;
                    width: 95%;
                    border-radius: 15px;
                    .country-image {
                        border-radius: 15px;
                        height: 100%;
                        width: 100%;
                    }
                    .country-name {
                        position: absolute;
                        text-align: center;
                        background-color: rgba(0, 0, 0, 0.8);
                        height: 30%;
                        width: 100%;
                        bottom: 0;
                        color: white;
                        left: 0;
                        opacity: 0;
                        border-bottom-left-radius: 15px;
                        border-bottom-right-radius: 15px;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }

            .section-1,
            .section-2,
            .section-3 {
                min-width: 100%;
                font-family: 'Lato', sans-serif;
            }

            .section-1 {
                .section-1 {
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }
                .btn {
                    font-size: 25px;
                    padding: 15px;
                }
                .section-1-name {
                    font-size: 60px;
                    line-height: 80px;
                    color: black;
                    max-width: 600px;
                    display: flex;
                    .button-2 {
                        cursor: pointer;
                        margin-left: 15px;
                        margin-right: 15px;
                        min-height: 60px;
                        min-width: 160px;
                        background-color: rgba(255, 255, 255, 0.5);
                        border-radius: 15px;
                        text-align: center;
                        z-index: 6;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.9);
                        }
                        .button-image {
                            height: 30px;
                            width: 30px;
                            margin-right: 5px;
                        }
                    }
                }
            }

            .section-2 {
                background-color: #30A6CA;
            }
